.DS_Store

**/.sass-cache/
src/staticfiles/
src/locks
src/media/*/**.jpg

*.sqlite3
*.log

src/api/staticfiles/
data/

env
env.local
env.bash
env.docker

__pycache__/
venv/

.mypy_cache/

.idea/
.vscode/