version: '3'

services:

    web:
        image: screenshots
        restart: always
        env_file: env
        networks:
            - web
        labels:
            - traefik.enable=true
            - traefik.http.routers.screenshot.rule=Host(`yourdomain.com`)
            - traefik.http.routers.screenshot.tls=true
            - traefik.http.routers.screenshot.tls.certresolver=le
            - traefik.http.services.screenshot.loadbalancer.server.port=8000

            - traefik.http.middlewares.screenshot.compress=true
            - traefik.http.routers.screenshot.middlewares=screenshot@docker

    worker_ff:
        image: screenshots
        command: ./manage.py screenshot_worker_ff
        restart: always
        env_file: env
        volumes:
            - /dev/shm:/dev/shm
            - ./geckodriver.log:/app/geckodriver.log
        networks:
            - web

networks:
    web:
        external: true
