SECRET_KEY=your-crazy-long-secret-key-should-go-here-no-questions
SENTRY_DSN=
DATABASE_URL=postgres://postgres@127.0.0.1/screenshots
SMTP_URL=smtp://mailhog:1025
DEV_ENV=dev
DEBUG=y

SOCKS5_PROXY_ENABLED=n
SOCKS5_PROXY_HOSTNAME=
SOCKS5_PROXY_PORT=