SECRET_KEY=your-crazy-long-secret-key-should-go-here-no-questions
SENTRY_DSN=
DATABASE_URL=postgres://postgres@127.0.0.1/screenshots
SMTP_URL=smtp://mailhog:1025
DEV_ENV=dev
DEBUG=y

SOCKS5_PROXY_ENABLED=n
SOCKS5_PROXY_HOSTNAME=
SOCKS5_PROXY_PORT=

S3_BUCKET_PREFIX=
S3_REGION_NAME=
S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=