asgiref==3.2.3
boto3==1.12.25
botocore==1.15.25
certifi==2019.11.28
chardet==3.0.4
dj-database-url==0.5.0
dj-email-url==0.2.0
Django==3.0.3
django-csp==3.6
django-storages==1.9.1
docutils==0.15.2
gunicorn==20.0.4
idna==2.9
jmespath==0.9.5
Pillow==7.0.0
psycopg2-binary==2.8.4
python-dateutil==2.8.1
python-dotenv==0.10.5
python-magic==0.4.15
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
selenium==3.141.0
sentry-sdk==0.14.2
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==5.0.1
