{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50414207-5"></script>
        <script src="{% static 'js/site.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        {% block meta_extra %}{% endblock %}

        <link rel="stylesheet" href="{% static 'css/tacit.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/site.css' %}"/>
        {% block style %}{% endblock %}
        <link rel="icon" href="{% static 'favicon.png'%}" type="image/png">
    </head>
    <body>
        <div id="top">
            Screenshots is an experiment from <a href="https://www.simplecto.com/building-own-screenshot-as-a-service-docker-django-selenium/?ref=screenshot" title="Checkout SimpleCTO" target="_blank">SimpleCTO</a>.
            Please enjoy!
        </div>
        <nav>

            <div>
                <a href="{% url 'home' %}" title="Home">Home</a>
                <a href="{% url 'about' %}" title="About screenshots">About</a>
                <a href="https://github.com/undernewmanagement/screenshots/issues" target="_blank">GitHub</a>
                {% if user.is_superuser %}
                <a href="/admin">Admin</a>
                {% endif %}
            </div>
        </nav>

        <main>        
        {% block content %}{% endblock %}
        </main>
        <footer>
        <div>Copyright &copy; 2020 SimpleCTO</div>
        </footer>
    </body>
</html>
