{% extends "base.html" %}
{% load thumbnail_url %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block style %}
<style>
#images {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 5rem;
}

#images > div {
    margin: 1rem;
}

#images > div a {
    font-size: 0.75rem;
    width: 100%;
    margin: 0.5rem;
    text-align: center;
    display: block;
}

#images > div img {
    display: block;
    border: 1px solid #afafaf
}

h1 {
    font-family: Georgia;
    text-align: center;
}

@media only screen and (min-width: 320px){
    h1 {
        font-size: 2rem;
        margin: 4rem 0 2rem 0;
    }

}

@media only screen and (min-width: 800px){
    h1 {
        font-size: 3rem;
        margin: 6rem 0 1.5rem 0
    }

}


#search  {
    display: flex;
    justify-content: center;
}

#form_errors {
    color: #FF1744;
    
    margin: 0 auto;
    text-align: center;
    font-size: 0.75rem;
}

input[type="text"] {
    border-radius: 0;
    width: 80%;
    border-bottom: 1px solid gray;
    margin: 0;
}

button {
    border-radius: 0;
    margin: 0;
}

em {
    display: block;
    text-align: center;
}

input[type="radio"] {
    margin: 0;
}

</style>
{% endblock %}

{% block content %}
<h1>Make a website screenshot</h1>

<form action="{% url 'screenshot_create' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    
    <div id="search">
        <input type="text" name="url" value="{{ form.url.value|default_if_none:''}}" placeholder=" website or domain name (eg - https://bbc.co.uk)"/>
        <button style="text-align: center;" class="submit" type="submit">Go</button>
    </div>
    {% if form.url.errors %}
    <div id="form_errors">
        {% for e in form.url.errors %}
        {{e}}
        {% endfor %}
    </div>
    {% endif %}

    <div style="display: flex; justify-content: center; margin-top: 1rem;">
        <label for="id_format_0" style="margin-right: 1.5rem">
            <input type="radio" name="format" value="D" id="id_format_0" {% if form.format.value == 'D' %}checked=""{% endif %}/> Desktop
        </label>

        <label for="id_format_1">
            <input type="radio" name="format" value="M" id="id_format_1" {% if form.format.value == 'M' %}checked=""{% endif %}/> Mobile
        </label>

    </div>

</form>

<em>This is a simple utility to get a website screenshot. Just 
plugin in the URL, wait a few seconds, and then get a snapshot
of the desired website</em>


<div id="images">
    {% for s in shots %}
    <div>
        <img src="{% thumbnail s 300 198 %}" height="198px" width="300px"/>
        <a href="{% url 'screenshot_get' s.id %}" title="Full sized screenshot of {{s.url}}" >
            {{s.url|truncatechars:30}}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
